USE [master]
GO
/****** Object:  Database [Olanthroxx]    Script Date: 13-11-2022 17:00:48 ******/
CREATE DATABASE [Olanthroxx]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Olanthroxx', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLSERVER\MSSQL\DATA\Olanthroxx.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 262144KB )
 LOG ON 
( NAME = N'Olanthroxx_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLSERVER\MSSQL\DATA\Olanthroxx_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Olanthroxx].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Olanthroxx]
GO
/****** Object:  Table [dbo].[tblApplicationSetting]    Script Date: 13-11-2022 17:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblApplicationSetting](
	[KeyID] [int] NOT NULL,
	[KeyName] [nvarchar](20) NULL,
	[KeyValue] [nvarchar](500) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblApplicationSettings] PRIMARY KEY CLUSTERED 
(
	[KeyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 13-11-2022 17:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryType] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLogs]    Script Date: 13-11-2022 17:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogs](
	[LogID] [int] IDENTITY(1000,1) NOT NULL,
	[IdentificationNo] [nvarchar](20) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblLogs] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMasCommonType]    Script Date: 13-11-2022 17:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMasCommonType](
	[CommonID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[MasterType] [nvarchar](50) NULL,
	[Description] [nvarchar](150) NULL,
 CONSTRAINT [PK_tblMasCommonType] PRIMARY KEY CLUSTERED 
(
	[CommonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 13-11-2022 17:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [uniqueidentifier] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[UserID] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblOrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPayment]    Script Date: 13-11-2022 17:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayment](
	[PaymentID] [int] IDENTITY(131020,1) NOT NULL,
	[OrderID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[TotalPayableAmount] [int] NOT NULL,
	[PaymentMode] [nvarchar](50) NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[PaymentDetails] [nvarchar](max) NOT NULL,
	[TransactionNo] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblPayment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 13-11-2022 17:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[PName] [nvarchar](50) NOT NULL,
	[PTitle] [nvarchar](200) NOT NULL,
	[PDescription] [nvarchar](max) NOT NULL,
	[CategoryID_FK] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 13-11-2022 17:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[AccountID] [int] IDENTITY(10000,1) NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[PasswordSalt] [nchar](20) NOT NULL,
	[PasswordHistory] [nvarchar](1000) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastPasswordChange] [datetime] NOT NULL,
	[LoginType] [nvarchar](50) NULL,
	[Password] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserSessionDetails]    Script Date: 13-11-2022 17:00:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserSessionDetails](
	[SessionID] [int] NOT NULL,
	[AccountID] [int] NULL,
	[SessionDateTime] [datetime] NULL,
	[Port] [nvarchar](50) NULL,
	[UserType] [nvarchar](20) NULL,
	[Username] [nvarchar](20) NULL,
	[SessionComments] [nvarchar](150) NULL,
 CONSTRAINT [PK_tblUserSessionDetails] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([CategoryID], [CategoryType], [CreatedDate]) VALUES (1, N'Smartphones', CAST(N'2022-10-12T18:42:59.600' AS DateTime))
INSERT [dbo].[tblCategory] ([CategoryID], [CategoryType], [CreatedDate]) VALUES (2, N'Televesion & Entertainment', CAST(N'2022-10-12T18:42:59.600' AS DateTime))
INSERT [dbo].[tblCategory] ([CategoryID], [CategoryType], [CreatedDate]) VALUES (3, N'Electronics', CAST(N'2022-10-12T18:42:59.600' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMasCommonType] ON 

INSERT [dbo].[tblMasCommonType] ([CommonID], [Code], [MasterType], [Description]) VALUES (1, 1, N'PaymentModes', N'Online')
INSERT [dbo].[tblMasCommonType] ([CommonID], [Code], [MasterType], [Description]) VALUES (2, 2, N'PaymentModes', N'Cheque')
INSERT [dbo].[tblMasCommonType] ([CommonID], [Code], [MasterType], [Description]) VALUES (3, 3, N'PaymentModes', N'UPI')
SET IDENTITY_INSERT [dbo].[tblMasCommonType] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOrderDetails] ON 

INSERT [dbo].[tblOrderDetails] ([ID], [OrderID], [ProductID], [Quantity], [Amount], [UserID], [CreatedDate]) VALUES (1, N'9897860f-cbca-4541-8d48-b0f62e747761', 9, 1, 69859, N'tvirangana', CAST(N'2022-10-14T00:20:19.217' AS DateTime))
INSERT [dbo].[tblOrderDetails] ([ID], [OrderID], [ProductID], [Quantity], [Amount], [UserID], [CreatedDate]) VALUES (2, N'9897860f-cbca-4541-8d48-b0f62e747761', 6, 1, 45000, N'tvirangana', CAST(N'2022-10-14T00:20:19.230' AS DateTime))
INSERT [dbo].[tblOrderDetails] ([ID], [OrderID], [ProductID], [Quantity], [Amount], [UserID], [CreatedDate]) VALUES (3, N'fbe72a62-9148-46f7-9e68-ad2f8ece7beb', 6, 1, 45000, N'tvirangana', CAST(N'2022-10-14T00:35:04.670' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPayment] ON 

SET IDENTITY_INSERT [dbo].[tblPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProduct] ON 

INSERT [dbo].[tblProduct] ([ProductID], [PName], [PTitle], [PDescription], [CategoryID_FK], [Quantity], [Price], [CreatedDate], [ModifiedDate]) VALUES (1, N'iPhone 13 Pro Max', N'Space Grey, 128GB ROM + 6GB RAM', N'Glass front (Corning-made glass), glass back (Corning-made glass), stainless steel frame. | Single SIM (Nano-SIM and/or eSIM) or Dual SIM (Nano-SIM/eSIM, dual stand-by)Single SIM (Nano-SIM and/or eSIM) or Dual SIM (Nano-SIM/eSIM, dual stand-by). | IP68 dust/water resistant (up to 6m for 30 mins).', 1, 24, 136000, CAST(N'2022-10-12T19:07:10.140' AS DateTime), NULL)
INSERT [dbo].[tblProduct] ([ProductID], [PName], [PTitle], [PDescription], [CategoryID_FK], [Quantity], [Price], [CreatedDate], [ModifiedDate]) VALUES (3, N'iPhone 12 Pro Max', N'Space Grey, 64GB ROM + 3GB RAM', N'Glass front & glass back (Corning-made glass). | Dual SIM (Nano-SIM/eSIM, dual stand-by). | IP69 dust/water resistant (up to 6m for 30 mins).', 1, 4, 79990, CAST(N'2022-10-12T19:07:48.480' AS DateTime), CAST(N'2022-10-13T20:38:43.380' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([AccountID], [UserID], [UserName], [PasswordSalt], [PasswordHistory], [CreatedDate], [LastPasswordChange], [LoginType], [Password]) VALUES (10002, N'a922e6ba-f5db-41fe-9782-54117002f9e7', N'tejassgg', N'bcaEKB2b            ', N'', CAST(N'2022-08-28T23:26:44.267' AS DateTime), CAST(N'2022-08-28T23:26:44.267' AS DateTime), N'BotLogin', N'SnVuZUAyMDE0YmNhRUtCMmI=')
INSERT [dbo].[tblUser] ([AccountID], [UserID], [UserName], [PasswordSalt], [PasswordHistory], [CreatedDate], [LastPasswordChange], [LoginType], [Password]) VALUES (10003, N'c2b29f66-5d45-4f30-8808-f32092444b34', N'tvirangana', N'U7Jdvr6V            ', N'', CAST(N'2022-08-28T23:59:49.087' AS DateTime), CAST(N'2022-08-28T23:59:49.087' AS DateTime), N'User', N'SnVseUAyMDE0VTdKZHZyNlY=')
INSERT [dbo].[tblUser] ([AccountID], [UserID], [UserName], [PasswordSalt], [PasswordHistory], [CreatedDate], [LastPasswordChange], [LoginType], [Password]) VALUES (10004, N'854bf499-5a49-4f6b-818c-f1dea88dd6c6', N'tejassunilgg', N'5r3Q8S8h            ', N'', CAST(N'2022-08-29T00:00:23.303' AS DateTime), CAST(N'2022-08-29T00:00:23.303' AS DateTime), N'User', N'VG91cm5leXRlZ3JhQDEyMzQ1cjNROFM4aA==')
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
INSERT [dbo].[tblUserSessionDetails] ([SessionID], [AccountID], [SessionDateTime], [Port], [UserType], [Username], [SessionComments]) VALUES (1, 10002, CAST(N'2022-08-29T09:49:27.340' AS DateTime), N'40076', N'BotLogin', N'tejassgg', N'Bot User Logged in Successfully...!!!')
INSERT [dbo].[tblUserSessionDetails] ([SessionID], [AccountID], [SessionDateTime], [Port], [UserType], [Username], [SessionComments]) VALUES (2, 10002, CAST(N'2022-08-29T09:49:48.150' AS DateTime), N'40076', N'BotLogin', N'tejassgg', N'Bot User Logged in Successfully...!!!')
INSERT [dbo].[tblUserSessionDetails] ([SessionID], [AccountID], [SessionDateTime], [Port], [UserType], [Username], [SessionComments]) VALUES (3, 10003, CAST(N'2022-08-29T09:50:21.640' AS DateTime), N'40076', N'User', N'tvirangana', N'Username and Passwords do not match..!! Please try again.')
GO
ALTER TABLE [dbo].[tblCategory] ADD  CONSTRAINT [DF_tblCategory_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblOrderDetails] ADD  CONSTRAINT [DF_tblOrderDetails_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblPayment] ADD  CONSTRAINT [DF_tblPayment_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblProduct] ADD  CONSTRAINT [DF_tblProduct_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [DF_tblUser_LoginType]  DEFAULT (user_name()) FOR [LoginType]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails_tblProduct] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProduct] ([ProductID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails_tblProduct]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK_tblProduct_tblCategory] FOREIGN KEY([CategoryID_FK])
REFERENCES [dbo].[tblCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK_tblProduct_tblCategory]
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertSessionDetails]    Script Date: 13-11-2022 17:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Tejas Gumgaonkar>
-- Create date: <29/08/2022>
-- Description:	<Used to Log Sesion Details of Users>
-- =============================================
CREATE PROCEDURE [dbo].[USP_InsertSessionDetails] 
	@AccountID int,
	@Username nvarchar(20),
	@Port nvarchar(30),
	@Usertype nvarchar(20),
	@Comment nvarchar(150)
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO tblUserSessionDetails (SessionID, AccountID, Port, UserType, Username, SessionDateTime, SessionComments) 
	Select SessionID = MAX(SessionID)+1, @AccountID, @Port, @Usertype, @Username, GETDATE(), @Comment from tblUserSessionDetails 
END
GO
USE [master]
GO
