
.ProductPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.Search_Bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 30px;
}

.Search_Bar_Items {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.input_Search_Block {
    border-radius: 8px;
    padding: 0px 15px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
}

.input_Search {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 16px;
    outline: none;
}

option {
    font-size: 16px;
}
.input {
    width: 72%;
}

.product_Details {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeded;
    padding: 8px;
    border-radius: 12px;
    background-color: #eeeded;
    box-shadow: 5px 20px 30px rgba(0,0,0,0.18);
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

.card:hover {
    transform: scale(1);
}

.card img {
    width: 250px;
    aspect-ratio: 1/1;
    mix-blend-mode: multiply;
    border-radius: 8px;
}

.card hr{
    margin-top: 12px;
    margin-bottom: 10px;
}

.prod_Desc {
    max-width: 25rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.heart_Icon{
    width: 100%;
    cursor:pointer;
}

.heart_Icon>i{
    margin: 5px 5px 0px 0px;
    float:right;
}

.card_Footer{
    width:100%;
}

.add_Cart {
    color: #fff;
    border: 0px;
    height: 30px;
    float: right;
    font-size: 12px;
    padding: 0 5px;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    background-color: #03AFFF;
    cursor: pointer;
    transition: .3s;
}

.add_Cart:hover{
    color: #1d1d1d;
    transform: scale(1.05);
}

.cart_Count {
    color: #fff;
    border: 0px;
    height: 30px;
    float: right;
    font-size: 12px;
    padding: 0 5px;
    margin:0 3px;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    background-color: #03AFFF;
    cursor: pointer;
    text-align: center;
}

.cart_Count_Inverse {
    width: 24px;
    color: #03AFFF;
    background-color: transparent;
}


.rating{
    color: #000;
}

.yourCart {
    padding: 8px;
    float: right;
    margin: 10px;
    cursor: pointer;
}

.yourCart a {
    text-decoration: none;
    font-size: 18px;
    color:#000;
    font-weight:600;
}

.main_Modal {
    display: none;
    position: fixed;
    z-index: 1;
    align-self:center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal_Body {
    width: 30%;
    margin: auto;
    position: relative;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal_Content{
    width: 90%;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal_Headers {
    width: 100%;
    display: flex;
    color: #252525;
    margin: -8px 0px;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;
}

.modal_Headers h2{
    color: #252525;
    font-size:25px;
    font-weight:500;
}

.modal_Footer {
    width: 100%;
    padding: 8px;
    color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal_Footer p{
    width:60%;
    margin:0;
}


.cart-table {
    margin: 10px 5px;
    max-height: 70%;
    padding: 5px 8px;
    border-radius: 8px;
    height: fit-content;
    background-color: #eeeded;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_Image {
    width: 70px;
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

.cart_Image img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 5px;
    mix-blend-mode: multiply;
}


.closeCartBtn {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}

.closeCartBtn:hover,
.closeCartBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.signin_Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #eeeded;
    width: 30%;
    align-self: center;
    padding:10px;
}

.form_Input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
    border: 0px;
    padding: 2px 15px;
    margin: 10px;
}

.login_Buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_SignIn_Form {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_Control {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    background-color: #fff;
    font-size: 16px;
    border: 0px;
}

.form_Input:focus-within, .form_Input:hover {
    border: 1px solid #03AFFF;
}

.login_Submit {
    color: #fff;
    border: 0px;
    float: right;
    font-size: 16px;
    padding: 8px 10px;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    background-color: #03AFFF;
    cursor: pointer;
    width: fit-content;
    margin: 15px;
}

.other_Options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
}

.other_Options > span {
    border: 1.5px solid #252525;
    border-radius: 40%;
    padding: 8px;
    height: 50px;
    aspect-ratio:1/1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other_Options svg{
    height: 25px;
}

.or_Options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or_Options hr{
    width:20%;
    border: .5px solid #000;
    opacity: 0.3;
}


.register_Form, .addProduct_Form {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_Form_Body {
    border-radius: 15px;
    padding: 10px;
    background-color: #eeeded;
    padding: 15px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.row_Input {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full_Address{
    width: 100%;
}

@media (max-width: 768px) {

    .Search_Bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-bottom: 30px;
    }

    .Search_Bar_Items {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
        gap: 10px;
    }

    .product_Details {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .input_Search_Block {
        width:100%;
        border-radius: 8px;
        padding: 0px 15px;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    }

    .input_Search {
        border: 0;
        width: 100%;
        height: 100%;
        padding: 8px;
        font-size: 16px;
        outline: none;
    }

    .modal_Body {
        width: 80%;
    }

}

.form_Input input[type="file"]{
    outline:none;
}

.product_Img{
    width: 250px;
    aspect-ratio: 1/1;
    object-fit:cover;
    mix-blend-mode:multiply;
}

.addProduct_Form_Div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #eeeded;
    width: 45%;
    align-self: center;
    padding: 10px;
}

.addProduct_Form_Div .form_Input {
    width: 100%;
    justify-content: space-between;
}


.addProduct_Btn{
    color: #252525;
    transition: .4s;
}
.addProduct_Btn:hover{
    text-decoration:none;
    color: #fff;
    transform: scale(1.05);
}

.page_Header{
    margin-top: 3%;
}

.product_List_Table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeded;
    border-radius: 15px;
}

thead, tbody {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr {
    width: 100%;
    display: grid;
    grid-template-columns: 5% 10% 15% 25% 15% 10% 10% 10%;
}
td, th {
    width: max-content;
    font-size: 18px;
}

.product_List_Table th, .product_List_Table td {
    padding: 15px;
}


td>a>i{
    padding: 5px;
    color:#03AFFF;
}