
.ProductPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    justify-content:center;
    align-items:center;
}

.Search_Bar {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    margin-bottom: 20px;
    background-color: #292F31;
    border-radius: 20px;
}

.Search_Bar_Items {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin-left: 350px;
    column-gap: 10px;
}

.input_Search_Block {
    border-radius: 8px;
    padding: 0px 15px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
}

.input_Search {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 16px;
    outline: none;
}

option {
    font-size: 16px;
}
.input {
    width: 72%;
}

.product_Details {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeded;
    padding: 8px;
    border-radius: 12px;
    background-color: #eeeded;
    box-shadow: 5px 20px 30px rgba(0,0,0,0.18);
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

.card:hover {
    transform: scale(1.01);
}

.card img {
    width: 250px;
    aspect-ratio: 1/1;
    mix-blend-mode: multiply;
    border-radius: 8px;
}

.card hr{
    margin-top: 12px;
    margin-bottom: 10px;
}

.prod_Desc {
    max-width: 25rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.heart_Icon{
    width: 100%;
    cursor:pointer;
}

.heart_Icon>i{
    margin: 5px 5px 0px 0px;
    float:right;
}

.card_Footer{
    width:100%;
}

.add_Cart {
    color: #fff;
    border: 0px;
    height: 30px;
    float: right;
    font-size: 12px;
    padding: 0 5px;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    background-color: #03AFFF;
    cursor: pointer;
    transition: .3s;
}

.add_Cart:hover{
    color: #1d1d1d;
    transform: scale(1.05);
}

.cart_Count {
    color: #fff;
    border: 0px;
    height: 30px;
    float: right;
    font-size: 12px;
    padding: 0 5px;
    margin:0 3px;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    background-color: #03AFFF;
    cursor: pointer;
    text-align: center;
}

.cart_Count_Inverse {
    width: 24px;
    color: #03AFFF;
    background-color: transparent;
}

.yourCart {
    width:100%;
    padding: 8px;
    float: right;
    margin: 10px;
    cursor: pointer;
}

.yourCart a {
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    font-weight:600;
}

.main_Modal {
    display: none;
    position: fixed;
    z-index: 1;
    align-self:center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal_Body {
    width: 30%;
    margin: auto;
    position: relative;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal_Content{
    width: 90%;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal_Headers {
    width: 100%;
    display: flex;
    color: #252525;
    margin: -8px 0px;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;
}

.modal_Headers h2{
    color: #252525;
    font-size:25px;
    font-weight:500;
}

.modal_Footer {
    width: 100%;
    padding: 8px;
    color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal_Footer p{
    width:60%;
    margin:0;
}


.cart-table {
    margin: 10px 5px;
    max-height: 70%;
    padding: 5px 8px;
    border-radius: 8px;
    height: fit-content;
    background-color: #eeeded;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_Image {
    width: 70px;
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

.cart_Image img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 5px;
    mix-blend-mode: multiply;
}


.closeCartBtn {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}

.closeCartBtn:hover,
.closeCartBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.signin_Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #eeeded;
    width: 30%;
    align-self: center;
    padding:10px;
}

.form_Input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
    border: 0px;
    padding: 2px 15px;
    margin: 10px;
}

.login_Buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_SignIn_Form {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_Control {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    background-color: #fff;
    font-size: 16px;
    border: 0px;
}

.form_Input:focus-within, .form_Input:hover {
    border: 1px solid #03AFFF;
}

.login_Submit {
    color: #fff;
    border: 0px;
    float: right;
    font-size: 16px;
    padding: 8px 10px;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    background-color: #03AFFF;
    cursor: pointer;
    width: fit-content;
    margin: 15px;
}

.other_Options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
}

.other_Options > span {
    border: 1.5px solid #252525;
    border-radius: 40%;
    padding: 8px;
    height: 50px;
    aspect-ratio:1/1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other_Options svg{
    height: 25px;
}

.or_Options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or_Options hr{
    width:20%;
    border: .5px solid #000;
    opacity: 0.3;
}


.register_Form, .addProduct_Form {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_Form_Body {
    border-radius: 10px;
    padding: 10px;
    background-color: #eeeded;
    padding: 15px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

.row_Input {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full_Address{
    width: 100%;
}

.product_Img{
    width: 250px;
    aspect-ratio: 1/1;
    object-fit:cover;
    mix-blend-mode:multiply;
}

.addProduct_Form_Div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #eeeded;
    width: 45%;
    align-self: center;
    padding: 10px;
}

.addProduct_Form_Div .form_Input, buyerOrderDetails_Div .form_Input {
    width: 100%;
    justify-content: space-between;
}

.buyerOrderDetails_Div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #eeeded;
    width: 65%;
    align-self: center;
    padding: 10px;
}


.addProduct_Btn{
    color: #252525;
    transition: .4s;
}
.addProduct_Btn:hover{
    text-decoration:none;
    color: #fff;
    transform: scale(1.05);
}

.page_Header {
    margin-top: 3%;
    font-weight: 600;
}

.product_list_Container{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.product_List_Table {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeded;
    border-radius: 10px;
    padding: 2.5% 0;
}

.product_List_Table tr {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 15% 15% 20%;
    border-radius: 12px;
}


.product_List_Table td, .product_List_Table th {
    width: 100%;
    font-size: 18px;
    padding: 15px;
}

.product_List_Table td:nth-child(n+5), .product_List_Table th:nth-child(n+5){
    text-align: center;
}

.product_List_Table a{
    cursor:pointer;
}

.addnewProduct-Container{
    width:75%;
    float:left;
}

.userProfile_Table {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeded;
    border-radius: 10px;
    padding: 2.5% 0;
}

.userProfile_Table tr {
    width: 100%;
    display: grid;
    grid-template-columns: 8% 32% 18% 15% 15% 12%;
    border-radius: 12px;
}

.userProfile_Table td, .userProfile_Table th {
    width: 100%;
    font-size: 18px;
    padding: 15px;
}

.userProfile_Table a{
    cursor:pointer;
}

.form_Input input[type="file"] {
    outline: none;
}

.all_Theatre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all_theatreDetails {
    margin: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

.addTheatre-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeded;
    padding: 8px;
    border-radius: 12px;
    background-color: #eeeded;
    box-shadow: 5px 20px 30px rgba(0,0,0,0.18);
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

.addTheatre-card:hover {
    transform: scale(1.05);
}

.addTheatre-card img {
    height: 150px;
    width: 250px;
    mix-blend-mode: multiply;
    border-radius: 8px;
}

.addTheatre-card hr {
    margin-top: 12px;
    margin-bottom: 10px;
}


.screen_List_Table {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeded;
    border-radius: 10px;
}

.screen_List_Table tr {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 20% 20% 25% 10%;
}

.screen_List_Table td, .screen_List_Table th {
    width: max-content;
    font-size: 18px;
    padding: 15px;
    text-align: center;
}

.left-most-container{
    width: 75%;
    float: left;
}

.sellerOrderList_Table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-radius: 10px;
    padding: 2.5% 0;
}

.sellerOrderList_Table tr {
    width: 80%;
    display: grid;
    grid-template-columns: 5% 40% 10% 15% 20% 5%;
    border-radius: 12px;
}


.orderDetails_Seller {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeded;
    border-radius: 10px;
    padding: 2.5% 0;
    background-color: ghostwhite;
}

.orderDetails_Seller tr {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 25% 25% 20%;
    border-radius: 12px;
    align-items: center;
}

.sellerOrderList_Table thead, .orderDetails_Seller thead, .product_List_Table thead, .orderDetails_Buyer thead, .userProfile_Table thead, .userDetailList_Table thead,
.sellerOrderList_Table tbody, .orderDetails_Seller tbody, .product_List_Table tbody, .orderDetails_Buyer tbody, .userProfile_Table tbody, .userDetailList_Table tbody {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td > a > i {
    padding: 5px;
    color: #03AFFF;
}

table thead tr {
    background-color: bisque;
    align-items: center;
}

.sellerOrderList_Table th, .orderDetails_Seller th, .orderDetails_Buyer th, .userProfile_Table th, .userDetailList_Table th,
.sellerOrderList_Table td, .orderDetails_Seller td, .orderDetails_Buyer td, .userProfile_Table td, .userDetailList_Table td {
    width: 100%;
    font-size: 18px;
    padding: 15px;
    text-align: center;
}


.orderDetails_Buyer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeded;
    border-radius: 10px;
    padding: 2.5% 0;
    background-color: ghostwhite;
}

.orderDetails_Buyer tr {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 10% 8% 12% 10% 20% 15%;
    border-radius: 12px;
    align-items: center;
}

.userDetailList_Table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-radius: 10px;
    padding: 2.5% 0;
}

.userDetailList_Table tr {
    width: 80%;
    display: grid;
    grid-template-columns: 5% 15% 25% 20% 10% 13% 12%;
    border-radius: 12px;
}

.seller_Blocks {
    height: 100px;
    padding: 5px 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: azure;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    cursor: pointer;
    color: #000;
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.18);
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

.seller_Blocks:hover{
    text-decoration: none;
    color: #000;
    transform: scale(1.01);
}

.seller_Blocks h5{
    text-align:right;
}

.seller_Blocks>h4>i{
    float:right;
}

:root {
    --dark: #34495E;
    --light: #ffffff;
    --success: #0ABF30;
    --error: #E24D4C;
    --warning: #E9BD0C;
    --info: #3498DB;
}

.notifications {
    position: fixed;
    bottom: 45px;
    left: 20px;
    z-index:50;
}

.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}

.notifications .toast {
    width: 400px;
    height: 60px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
}

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(calc(100% + 20px));
    }
}

.toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast.success::before, .btn#success {
    background: var(--success);
}

.toast.error::before, .btn#error {
    background: var(--error);
}

.toast.info::before, .btn#info {
    background: var(--info);
}

.toast .column i {
    font-size: 2rem;
}

.toast.success .column i {
    color: var(--success);
}

.toast.error .column i {
    color: var(--error);
}

.toast.info .column i {
    color: var(--info);
}

.toast .column span {
    font-size: 1.5rem;
    margin-left: 12px;
}

.toast i {
    font-size: 2rem;
}

.toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}

.toast i:last-child:hover {
    color: var(--dark);
}

.buttons .btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
}

.viewProductModal {
    top: 0px;
    width: 90%;
    height:90%;
    position: absolute;
    display: block;
    background-color: rgba(237,237,237,.1);
    backdrop-filter: blur(10px);
    justify-self: center;
    margin: 20px 0px;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 15px;
    overflow-y: scroll;
}

.page_header_Modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderPlaced {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfile_List_Container{
    display:flex;
    justify-content:center;
    align-items:center;
}


@media screen and (max-width: 530px) {
    .notifications {
        width: 95%;
    }

        .notifications .toast {
            width: 100%;
            font-size: 1rem;
            margin-left: 20px;
        }

    .buttons .btn {
        margin: 0 1px;
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}

@media (max-width: 768px) {
    .Search_Bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-bottom: 30px;
    }

    .Search_Bar_Items {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
        gap: 10px;
    }

    .product_Details {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .input_Search_Block {
        width: 100%;
        border-radius: 8px;
        padding: 0px 15px;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 5px 10px 30px rgba(0,0,0,0.2);
    }

    .input_Search {
        border: 0;
        width: 100%;
        height: 100%;
        padding: 8px;
        font-size: 16px;
        outline: none;
    }

    .modal_Body {
        width: 80%;
    }

    .signin_Form {
        width: 100%;
    }

    .form_Input {
        width: 70%;
    }

    .register_Form_Body {
        border-radius: 10px;
        background-color: #eeeded;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .row_Input {
        width: 100%;
    }

    .register_Form_Body .form_Input {
        width: 100%;
        margin: 3px;
    }

        .register_Form_Body .form_Input input, .register_Form_Body .form_Input select {
            font-size: 12px;
        }

    .addProduct_Form_Div {
        width: 100%;
    }

    .movie-card-conatiner {
        grid-template-columns: auto;
    }

    .mobile_Hidden {
        display: none;
    }

    .product_List_Table {
        width: 100%;
    }

    tr {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 20% 40%;
    }

    /*thead>tr {
        width: 100%;
        grid-template-columns: 10% 30% 30% 30%;
    }
    tbody > tr {
        width: 100%;
        grid-template-columns: 10% 40% 10% 40%;
    }*/

    td, th {
        font-size: 12px;
        text-align: center;
    }

    .addProduct_Btn {
        font-size: 14px;
    }

    .page_Header {
        font-size: 22px;
        font-weight: 800;
    }
}